.first-bg{
  background-image: url(../images/banner-bg.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  height:auto;

}

.hidden{
  display:none;
}

.unhidden{
  display:block;
}
#pizza{
  font-family: 'Sedgwick Ave Display', cursive;
  color: white;
}
#tamu{
  color:orange;
  text-transform: uppercase;
  font-family: 'Sedgwick Ave Display', cursive;
  font-weight: bold;
}
.pitsa{
  border: 2px solid #fff;
}
.banner-bg{
  position:relative;
  background-color:black;
  height: auto;
  opacity: 0.8;
}
.buttons{
  margin-bottom: 5%;
}
#button{
  display:inline-block;
  transform: rotate(320deg);
  padding-bottom: 5%;
}
#order{
  display:inline-block;
  transform: rotate(360deg);

}
#home{
  font-size: 20px;
  text-transform: uppercase;
  background-color:crimson;
  border: none;
  font-family: 'Sedgwick Ave Display', cursive;

}

#home a:hover{
  color:cyan;
}
#home a{
  color: white;
  text-decoration: none;
}
.about{
  color: white;
  font-family: georgia;
  display: none;
}
#welcome{
  margin-top: 5%;
  color: white;
  font-family: georgia;
}

}
/* End of order */
